workflows/03-weekly-report.json
{
  "name": "Weekly Report Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }]
        }
      },
      "id": "c3000000-0000-4000-8000-000000000001",
      "name": "Every Monday 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://example.com/api/orders?since=7d",
        "options": { "retry": { "retry": { "maxTries": 3, "waitBetweenTries": 2000 } } }
      },
      "id": "c3000000-0000-4000-8000-000000000002",
      "name": "Fetch Last 7 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate the week's orders into the numbers the email needs.\nconst orders = $input.all().map(i => i.json);\nconst total = orders.reduce((s, o) => s + Number(o.amount || 0), 0);\nconst byDay = {};\nfor (const o of orders) {\n  const day = (o.date || '').slice(0, 10);\n  byDay[day] = (byDay[day] || 0) + Number(o.amount || 0);\n}\nreturn [{ json: {\n  orderCount: orders.length,\n  revenue: Math.round(total * 100) / 100,\n  bestDay: Object.entries(byDay).sort((a, b) => b[1] - a[1])[0]?.[0] || 'n/a',\n  generatedAt: new Date().toISOString()\n} }];"
      },
      "id": "c3000000-0000-4000-8000-000000000003",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "h1",
              "name": "html",
              "value": "=<h2>Weekly Report</h2><ul><li>Orders: {{ $json.orderCount }}</li><li>Revenue: {{ $json.revenue }}</li><li>Best day: {{ $json.bestDay }}</li></ul>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3000000-0000-4000-8000-000000000004",
      "name": "Render HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "reports@example.com",
        "toEmail": "you@example.com",
        "subject": "Weekly Report",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "c3000000-0000-4000-8000-000000000005",
      "name": "Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Every Monday 08:00": { "main": [[{ "node": "Fetch Last 7 Days", "type": "main", "index": 0 }]] },
    "Fetch Last 7 Days": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "Render HTML", "type": "main", "index": 0 }]] },
    "Render HTML": { "main": [[{ "node": "Email Report", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "portfolio" }]
}
